table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}
#portfolio th {
    background-color: #4CAF50;
    color: white;
}

#portfolio tr:nth-child(even) {
    background-color: #f2f2f2;
}
